USE [EMCS]
GO
/****** Object:  Table [dbo].[HighchartProvince]    Script Date: 10/03/2023 11:40:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HighchartProvince](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hc_key] [varchar](10) NOT NULL,
	[name] [varchar](50) NULL,
	[latitude] [nvarchar](100) NULL,
	[longitude] [nvarchar](100) NULL,
 CONSTRAINT [PK_HighchartProvince] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 80) ON [PRIMARY]
) ON [PRIMARY]
GO
