USE [EMCS]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 10/03/2023 11:40:35 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Employee_ID] [int] NOT NULL,
	[Employee_Name] [nvarchar](80) NULL,
	[Email] [nvarchar](241) NULL,
	[Dept_Code] [nvarchar](10) NULL,
	[Dept_Name] [varchar](100) NULL,
	[Division_Code] [nvarchar](4) NULL,
	[Division_Name] [nvarchar](35) NULL,
	[SubArea_Code] [nvarchar](4) NULL,
	[SubArea_Name] [nvarchar](100) NULL,
	[Cost_Center] [nvarchar](10) NULL,
	[Job_Cluster] [nvarchar](8) NULL,
	[Gender] [varchar](6) NULL,
	[Employee_Status] [varchar](30) NULL,
	[Superior_ID] [int] NULL,
	[Superior_Name] [nvarchar](80) NULL,
	[Company_ID] [nvarchar](4) NULL,
	[Organization_ID] [int] NULL,
	[Organization_Name] [nvarchar](100) NULL,
	[Position_ID] [int] NULL,
	[Position_Name] [nvarchar](100) NULL,
	[Job_ID] [nvarchar](24) NULL,
	[Job_Name] [nvarchar](100) NULL,
	[Business_Area] [nvarchar](4) NULL,
	[AD_User] [nvarchar](50) NULL,
	[ETL_Date] [datetime] NULL,
	[Personal_Area] [nvarchar](4) NULL,
	[Personal_Area_Name] [nvarchar](50) NULL,
	[Last_Updated_Date] [date] NULL,
	[Created_By] [nvarchar](30) NULL,
	[Phone_No] [nvarchar](40) NULL,
	[Employee_Subgroup] [nvarchar](2) NULL,
	[Employee_Subgroup_Desc] [nvarchar](50) NULL,
	[HC_Admin_ID] [int] NULL,
	[HC_Area_ID] [int] NULL,
	[Action_Id] [nvarchar](2) NOT NULL,
	[Action_Name] [nvarchar](30) NULL,
	[Hire_date] [varchar](8000) NULL,
	[Transaction_Date] [varchar](8000) NULL,
	[Hiring_process_date] [varchar](10) NULL,
	[Org_assignment_Date] [varchar](10) NULL,
	[MSS_Status] [int] NULL,
	[Promotion_Date] [varchar](10) NULL,
	[Termination_Date] [varchar](8) NULL,
	[Time_In_Current_Position] [date] NULL,
	[Email_HC_Area] [varchar](50) NULL,
	[Email_HC_Admin] [varchar](50) NULL,
	[HC_Admin_Name] [varchar](50) NULL,
	[Email_Superior] [varchar](50) NULL,
	[level] [nvarchar](2) NULL,
	[SAP_User_ID] [nvarchar](30) NULL
) ON [PRIMARY]
GO
