USE [EMCS]
GO
/****** Object:  Table [dbo].[MigrationAllData]    Script Date: 10/03/2023 11:40:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MigrationAllData](
	[MONTH] [smalldatetime] NULL,
	[NO] [float] NULL,
	[PIC NAME] [nvarchar](255) NULL,
	[DEPARTEMENT] [nvarchar](255) NULL,
	[BRANCH] [nvarchar](255) NULL,
	[HEAD DEPARTEMENT] [nvarchar](255) NULL,
	[BRANCH CODE] [nvarchar](255) NULL,
	[F8] [float] NULL,
	[REQUEST DATE] [smalldatetime] NULL,
	[APPROVAL DATE] [smalldatetime] NULL,
	[NO1] [nvarchar](255) NULL,
	[INVOICE NO] [nvarchar](255) NULL,
	[INVOICE DATE] [smalldatetime] NULL,
	[BRANCHES] [nvarchar](255) NULL,
	[REMARKS_] [nvarchar](255) NULL,
	[PERMANANET / TEMPORARY] [nvarchar](255) NULL,
	[SALES / NON SALES] [nvarchar](255) NULL,
	[KPI] [float] NULL,
	[SHIPPER] [nvarchar](255) NULL,
	[CONSIGNEE] [nvarchar](255) NULL,
	[DESTINATION COUNTRY] [nvarchar](255) NULL,
	[CUSTOMER] [nvarchar](255) NULL,
	[DESTINATION COUNTRY1] [nvarchar](255) NULL,
	[NOTIFY PARTY] [nvarchar](255) NULL,
	[CURR] [nvarchar](255) NULL,
	[LOAD PORT] [nvarchar](255) NULL,
	[DESTINATION PORT] [nvarchar](255) NULL,
	[SHIP TERM] [nvarchar](255) NULL,
	[DESC GOODS] [nvarchar](255) NULL,
	[TOTAL QTY] [float] NULL,
	[TOTAL COLLIES] [float] NULL,
	[UOM] [nvarchar](255) NULL,
	[TOTAL FREIGHT COST] [float] NULL,
	[INSURANCE COST] [float] NULL,
	[TOTAL VALUES] [float] NULL,
	[TOTAL WEIGHT] [float] NULL,
	[UOM1] [nvarchar](255) NULL,
	[TOTAL VOLUME] [float] NULL,
	[SHIPPING LINE/Airlines] [nvarchar](255) NULL,
	[VOYAGE/FLIGHT/NOPOL] [nvarchar](255) NULL,
	[ETD] [smalldatetime] NULL,
	[ETA] [smalldatetime] NULL,
	[INV] [nvarchar](255) NULL,
	[PL] [nvarchar](255) NULL,
	[SI CODE] [nvarchar](255) NULL,
	[SI DATE] [nvarchar](255) NULL,
	[NO URUT SI] [nvarchar](255) NULL,
	[NO SI] [nvarchar](255) NULL,
	[DA] [float] NULL,
	[PEB] [nvarchar](255) NULL,
	[NPE] [nvarchar](255) NULL,
	[TYPE EXPORT] [nvarchar](255) NULL,
	[SALES / NON SALES1] [nvarchar](255) NULL,
	[BLAWB NOMOR] [nvarchar](255) NULL,
	[COO] [nvarchar](255) NULL,
	[FUMIGASI] [nvarchar](255) NULL,
	[SHIPPING SUMMARY] [nvarchar](255) NULL,
	[OTHERS] [nvarchar](255) NULL,
	[ATD] [smalldatetime] NULL,
	[ATA] [smalldatetime] NULL,
	[Note] [nvarchar](max) NULL,
	[F62] [nvarchar](255) NULL,
	[EXPORT VALUE] [float] NULL,
	[Note1] [nvarchar](255) NULL,
	[PEB DATE] [date] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
