USE [EMCS]
GO
/****** Object:  StoredProcedure [dbo].[sp_insert_update_cargo]    Script Date: 10/03/2023 11:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--DROP PROCEDURE [dbo].[sp_CargoInsert]
CREATE PROCEDURE [dbo].[sp_insert_update_cargo]
(
	@CargoID BIGINT,
	@Consignee NVARCHAR(200),
	@NotifyParty NVARCHAR(200),
	@ExportType NVARCHAR(200),
	@Category NVARCHAR(200),
	@Incoterms NVARCHAR(200),
	@StuffingDateStarted datetime = NULL,--='02-02-2019',
	@StuffingDateFinished datetime = NULL,--='12-12-2019',
	@ETA datetime = NULL,--='02-02-2019',
	@ETD datetime = NULL,--='12-12-2019',
	@VesselFlight NVARCHAR(30),--='vessel',
	@ConnectingVesselFlight NVARCHAR(30),--='con vessel',
	@VoyageVesselFlight NVARCHAR(30),--='voy vessel',
	@VoyageConnectingVessel NVARCHAR(30),--='voy con',
	@PortOfLoading NVARCHAR(30),--='start',
	@PortOfDestination NVARCHAR(30),--='end',
	@SailingSchedule datetime = NULL,--='09-09-2019',
	@ArrivalDestination datetime = NULL,--='10-10-2019',
	@BookingNumber NVARCHAR(20) = '',--='1122',
	@BookingDate datetime = NULL,--='11-11-2019',
	@Liner NVARCHAR(20) = '',--='linear'
	@Status NVARCHAR(20) = '',
	@ActionBy NVARCHAR(20) = '',
	@Referrence NVARCHAR(MAX) = '',
	@CargoType NVARCHAR(50) = '',
	@ShippingMethod NVARCHAR(50) = ''
)
AS
BEGIN
	
	declare @ID BIGINT;
	
	IF @CargoID <= 0
	BEGIN			
		INSERT INTO [dbo].[Cargo]
           ([Consignee],
		    [NotifyParty],
			[ExportType],
			[Category],
			[Incoterms],
			[StuffingDateStarted],
			[StuffingDateFinished],
			[ETA],
			[ETD],
			[VesselFlight],
			[ConnectingVesselFlight],
			[VoyageVesselFlight],
			[VoyageConnectingVessel],
			[PortOfLoading],
			[PortOfDestination],
			[SailingSchedule],
			[ArrivalDestination],
			[BookingNumber],
			[BookingDate],
			[Liner],
			[Status],
			[CreateBy]
           ,[CreateDate]
           ,[UpdateBy]
           ,[UpdateDate]
           ,[IsDelete]
		   ,[Referrence]
		   ,[ShippingMethod]
		   ,[CargoType]
           )
     VALUES
           (@Consignee,
		    @NotifyParty,
			@ExportType,
			@Category,
			@Incoterms,
			@StuffingDateStarted,
			@StuffingDateFinished,
			@ETA,
			@ETD,
			@VesselFlight,
			@ConnectingVesselFlight,
			@VoyageVesselFlight,
			@VoyageConnectingVessel,
			@PortOfLoading,
			@PortOfDestination,
			@SailingSchedule,
			@ArrivalDestination,
			@BookingNumber,
			@BookingDate,
			@Liner,
			0
           ,@ActionBy
           ,GETDATE()
           ,@ActionBy
           ,GETDATE()
           ,0
		   ,@Referrence
		   ,@ShippingMethod
		   ,@CargoType)

		SET @ID = CAST(SCOPE_IDENTITY() as bigint);

		IF (ISNULL(@Referrence, '') <> '')
		BEGIN
			INSERT INTO dbo.CargoCipl (IdCargo, IdCipl, EdoNumber, CreateBy, CreateDate, UpdateBy, UpdateDate, IsDelete)
			SELECT @ID IdCargo, splitdata as IdCipl, t1.EdoNo, @ActionBy CreateBy, GETDATE() CreateDate, @ActionBy UpdateBy, GETDATE() UpdateDate, 0 IsDelete  
			from fnSplitString(@Referrence, ',') t0
			JOIN dbo.Cipl t1 on t1.id = t0.splitdata AND t1.IsDelete = 0;
		END

		EXEC [dbo].[GenerateCargoNumber] @ID;
		EXEC sp_insert_request_data @ID, 'CL', '', @Status, 'Create';

	END
	ELSE
	BEGIN
		UPDATE [dbo].[Cargo]
		SET [Consignee] = @Consignee
			,[NotifyParty] = @NotifyParty
			,[ExportType] = @ExportType
			,[Category] = @Category
			,[Incoterms] = @Incoterms
			,[StuffingDateStarted] = @StuffingDateStarted
			,[StuffingDateFinished] = @StuffingDateFinished
			,[ETA] = @ETA
			,[ETD] = @ETD
			,[VesselFlight] = @VesselFlight
			,[ConnectingVesselFlight] = @ConnectingVesselFlight
			,[VoyageVesselFlight] = @VoyageVesselFlight
			,[VoyageConnectingVessel] = @VoyageConnectingVessel
			,[PortOfLoading] = @PortOfLoading
			,[PortOfDestination] = @PortOfDestination
			,[SailingSchedule] = @SailingSchedule
			,[ArrivalDestination] = @ArrivalDestination
			,[BookingNumber] = @BookingNumber
			,[BookingDate] = @BookingDate
			,[Liner] = @Liner
			,[UpdateDate] = GETDATE()
			,[UpdateBy] = @ActionBy
			,[Referrence] = @Referrence
			,[ShippingMethod] = @ShippingMethod
			,[CargoType] = @CargoType
		WHERE Id = @CargoID

		SET @ID = @CargoID

		IF (ISNULL(@Referrence, '') <> '')
		BEGIN
			DELETE FROM dbo.CargoCipl WHERE IdCargo = @ID;

			INSERT INTO dbo.CargoCipl (IdCargo, IdCipl, EdoNumber, CreateBy, CreateDate, UpdateBy, UpdateDate, IsDelete)
			SELECT @ID IdCargo, splitdata as IdCipl, t1.EdoNo, @ActionBy CreateBy, GETDATE() CreateDate, @ActionBy UpdateBy, GETDATE() UpdateDate, 0 IsDelete  
			from fnSplitString(@Referrence, ',') t0
			JOIN dbo.Cipl t1 on t1.id = t0.splitdata AND t1.IsDelete = 0;
		END

		EXEC [sp_update_request_cl] @ID, @ActionBy, @Status
	END

	SELECT CAST(@ID as BIGINT) as ID

END

GO
