USE [EMCS]
GO
/****** Object:  StoredProcedure [dbo].[sp_update_staging_employee]    Script Date: 10/03/2023 11:40:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_update_staging_employee]
as
BEGIN
       -- 1. Cek apakah table exists jika ya maka akan di drop dahulu
       --IF (EXISTS (SELECT * FROM INFORMATION_SCHEMA.TABLES 
       --                 WHERE TABLE_SCHEMA = 'dbo' 
       --                 AND  TABLE_NAME = 'Employee'))
       --BEGIN
       --       DROP TABLE Employee;
       --END
 Truncate Table Employee     
       -- 2. Buat table dan insert data ke table employee sebagai staging table HC.Employee
Insert Into Employee ([Employee_ID]
             ,[Employee_Name]
             ,[Email]
             ,[Dept_Code]
             ,[Dept_Name]
             ,[Division_Code]
             ,[Division_Name]
             ,[SubArea_Code]
             ,[SubArea_Name]
             ,[Cost_Center]
             ,[Job_Cluster]
             ,[Gender]
             ,[Employee_Status]
             ,[Superior_ID]
             ,[Superior_Name]
             ,[Company_ID]
             ,[Organization_ID]
             ,[Organization_Name]
             ,[Position_ID]
             ,[Position_Name]
             ,[Job_ID]
             ,[Job_Name]
             ,[Business_Area]
             ,[AD_User]
             ,[ETL_Date]
             ,[Personal_Area]
             ,[Personal_Area_Name]
             ,[Last_Updated_Date]
             ,[Created_By]
             ,[Phone_No]
             ,[Employee_Subgroup]
             ,[Employee_Subgroup_Desc]
             ,[HC_Admin_ID]
             ,[HC_Area_ID]
             ,[Action_Id]
             ,[Action_Name]
             ,[Hire_date]
             ,[Transaction_Date]
             ,[Hiring_process_date]
             ,[Org_assignment_Date]
             ,[MSS_Status]
             ,[Promotion_Date]
             ,[Termination_Date]
             ,[Time_In_Current_Position]
             ,[Email_HC_Area]
             ,[Email_HC_Admin]
             ,[HC_Admin_Name]
             ,[Email_Superior]
             ,[level]
             ,[SAP_User_ID])

       SELECT [Employee_ID]
             ,[Employee_Name]
             ,[Email]
             ,[Dept_Code]
             ,[Dept_Name]
             ,[Division_Code]
             ,[Division_Name]
             ,[SubArea_Code]
             ,[SubArea_Name]
             ,[Cost_Center]
             ,[Job_Cluster]
             ,[Gender]
             ,[Employee_Status]
             ,[Superior_ID]
             ,[Superior_Name]
             ,[Company_ID]
             ,[Organization_ID]
             ,[Organization_Name]
             ,[Position_ID]
             ,[Position_Name]
             ,[Job_ID]
             ,[Job_Name]
             ,[Business_Area]
             ,[AD_User]
             ,[ETL_Date]
             ,[Personal_Area]
             ,[Personal_Area_Name]
             ,[Last_Updated_Date]
             ,[Created_By]
             ,[Phone_No]
             ,[Employee_Subgroup]
             ,[Employee_Subgroup_Desc]
             ,[HC_Admin_ID]
             ,[HC_Area_ID]
             ,[Action_Id]
             ,[Action_Name]
             ,[Hire_date]
             ,[Transaction_Date]
             ,[Hiring_process_date]
             ,[Org_assignment_Date]
             ,[MSS_Status]
             ,[Promotion_Date]
             ,[Termination_Date]
             ,[Time_In_Current_Position]
             ,[Email_HC_Area]
             ,[Email_HC_Admin]
             ,[HC_Admin_Name]
             ,[Email_Superior]
             ,[level]
             ,[SAP_User_ID]
         --INTO Employee
         FROM   [BI_PROD].[EDW_MDS].[HC].[employee]
END
GO
